RewriteEngine On

RewriteRule ^popular$ ./popular.php
RewriteRule ^nowplaying$ ./now-playing.php
RewriteRule ^now-playing$ ./now-playing.php
RewriteRule ^upcoming$ ./upcoming.php
RewriteRule ^wishlist$ ./login/login.php
RewriteRule ^checkmovies$ ./index.php





