body
{
    margin:0;
    margin-bottom: 0%;
}

footer
{
    font-family: 'Open Sans', sans-serif;
}

.container
{
    background: #1A1A1A;
    display: flex;
    justify-content: center;

}

.container2
{
    display: inline-block;
    width: 80%;
    height:auto;
    justify-content: center;

}
.text
{
    width: 800px;
    padding:1.9vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color:white;
    margin: 0 auto;
}

.mention
{
    width: 400px;
    display:flex;
    width:auto;
    margin: 0 200px;
    justify-content: center;
    color: white;
}

.checkmovie{
    margin-right: 40px;
}

a
{
    color:#FAB301;
    text-decoration: none;
}
