.header{
    background-color: #1A1A1A;
    position: relative;
    display: flex;
    justify-content: flex-start;
    height: 80px;
    align-items: center;
} 

h1 .sitename{
    color: #F8CA00;
    font-size: 28px;
    text-decoration: none;
    margin-left: 18px;
}

.header h1
{
    display: inline-block;
}

.header_links
{
    display: inline-flex;
    justify-content: flex-end;
}

/* .header_link{
    width: 400px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    list-style-type: none;

} */

/* .header ul
{
    display: inline-block;
} */

/* .header_users{
    width: 150px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    list-style-type: none;
    justify-self: flex-end;
}

.header_link li a, .header_users li a{
    color: aliceblue;
    text-decoration: none;
} */
