.header{
    background-color: #1A1A1A;
    position: relative;
    display: flex;
    justify-content: flex-start;
    height: 80px;
    align-items: center;
<<<<<<< HEAD
    /* font-family: 'Open Sans', sans-serif; */
    box-shadow: 2px 1px 8px 1px #000000;
=======
    font-family: 'Open Sans', sans-serif;
<<<<<<< HEAD
    
=======
>>>>>>> a8bab152ea53b30bfe7dce2e4ab46f6380f9aeda
>>>>>>> f06a4d14dc9d29736b867cdf166294dc7d2559a4
} 

@font-face
{
    font-family: 'Open Sans', sans-serif;
    src:url("https://fontlibrary.org/face/bebas");
}

.sitename{
    font-size: 28px;
    text-decoration: none;
    margin-left: 18px;
    font-family: 'BebasNeueRegular'; 
    font-weight: normal; 
    font-style: normal;
}

.header h1
{
    display: inline-block;
}

h1 .sitename
{
    color:#F8CA00;
}

.header_links
{
    width: 100vw;
    margin-top:0.5vw;
    display: flex;
    justify-content: space-between;
}

.left_links a
{
    padding-left: 5vw;
    color:white;
}

.right_links
{
    display: flex;
    justify-content: space-between;
    width:auto;
    padding-right: 5vw;
    
}

.whiteLink
{
    width:50vw;
    color:white;
    display:flex;
    justify-content: flex-end;
}

.right_links a
{
    padding-left:5vw;
    color:#FAB301;
}

p a
{
    color:#FAB301;
}