body
{
    background-color:#222222;
    color:white;
}

h2 a
{
    color:#FAB301;
}






.container_soundtrack
{
    display:flex;
    margin: 15vh auto;
    overflow:scroll;
    width: 55vw;
    height: 50vh;
    border-radius: 10px;
    background-color:#2c2B2B;
}

.container_soundtrack h2
{
    color:#FAB301;
}

.container_soundtrack h2 h2
{
    color:white;
}

.container_casting
{
    margin-left: 15vw;
}

.container_casting h1
{
    color:#FAB301;
}

ul li
{
    padding:1vh;
    list-style: none;
}

.container_video
{
    width:100%;
}

.video
{
    width:45vw;
    margin:18vh auto;
    margin-bottom:10vh;
}

/************************************************************************/



.movie_container
{
    margin-left: 10vw;
    margin-top: 3vw;
    display:flex;
}

.movie_title
{
    color: #FAB301;
    font-size: 46px;
}

.movie_tagline
{
    font-style: italic;
    font-size: 20px;

}

.movie_overview
{
    font-size: 18px;
    width:90%;
}

.movie_description
{
    color: gray;
}

.movie_top_description
{
    width: 100%;
    margin-left:3vw;
}

.movie_addtowishlist
{
    color: #FAB301;
    position:absolute;
    margin-left:54vw;
    margin-top:1vw;
}





.vote_green
{
    color: #FAB301;
}


h2
{
    font-family: 'BebasNeueRegular'; 
    font-weight: normal; 
    font-style: normal;
}

a
{
    color:#FAB301;
}

a p
{
    margin-left:1vw;
}

span
{
    font-family: 'Open Sans', sans-serif;
}

.yellow_title
{
    color: #FAB301;
}

.soundtrack_title
{
    position:absolute;
    margin-top:-10vh;
    margin-left:-13vw;
    color:#FAB301;

}

.sountrack_playlist
{
    margin-right:10px;
    width:21vw;
}

.sountrack_flex
{
    display:flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left:5vw;
}

.trailer_title
{
    position:absolute;
    color:#FAB301;
    margin-top:-10vh;
    margin-left:-13vw;
}

.similarmovie
{
    display:flex;
    width:60vw;
    margin:0 auto;
    margin-bottom:3vw;
}

.similarmovie .movie_poster
{
    background-color: #2C2B2B;
    margin-left:10px;
    border: 12px solid #2C2B2B;
    border-radius: 1px;
    box-shadow: 2px 2px 4px 1px rgb(19, 19, 19);
    width:15vw;
}

.similarmovie_title
{
    color:#FAB301;
    margin-left:15vw;
}

.artist
{
    display: flex;
    margin-bottom:5vh;
}

.logo_play
{
    width:5%;
}

h1
{
    font-family: 'BebasNeueRegular'; 
    font-weight: normal; 
    font-style: normal;
}

ul
{
    margin-bottom:8vh;
}